@import "src/css/custom";
@import "~bootstrap/scss/bootstrap";

// --- Initialize ---
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

// --- main page ---

.page-move-link {
  width: 100%;
  max-width: 450px;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 2rem auto 2.5rem;

  &-left {
    max-width: 40%;
    margin: 0 auto 0 10%;
    padding: 0.25rem;
    border-bottom: 1px solid #dee2e6;
  }
  &-right {
    max-width: 40%;
    margin: 0 10% 0 auto;
    padding: 0.25rem;
    margin-top: 1rem;
    border-bottom: 1px solid #dee2e6;
  }
  &-symbol {
    font-size: 1.4rem;
  }
}

// --- gallary page ---

.gallary {
  width: 100%;
  max-width: 620px;
  margin: auto;

  img {
    height: 190px;
  }
}

.card-title {
  font-weight: 600;
}

// --- profile page ---

.profile {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.img {
  &-face {
    max-width: 200px;
    margin: auto;
  }
}

.name {
  font-size: 2.5rem;
  font-weight: 500;
}

.rounded {
  &-icon {
    border-radius: 50%;
    max-width: 43px;
    max-height: 43px;
  }
}

// --- SNS Brand Color ---

.twitter {
  background-color: #1da1f2;
}

.github {
  background-color: #333333;
}

.line {
  background-color: #00b900;
}

.wantedly {
  background-color: #21bddb;
}

.facebook {
  background-color: #3b5998;
}

.youtube {
  background-color: #da1725;
}
